/*--------------------------------------*/
/* Basic setup */
/*--------------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}


/* ---- Headings ---- */


a{
    
    color: #fff;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    word-spacing: 3px; 
    font-size: 120%;
}

a:active{
    color: red;
}

h1,h2,h3{
    color: #ffffff;
}

h1{
    font-size: 300%;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

h2,h3{
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
}

h2{
    font-size: 140%;
}

h3{ 
    font-size: 80%;
}

p, ul{
    word-spacing: 2px;
    line-height: 30px;
    margin: 15px 0;
    font-size: 90%;
}

.p-blog{
    word-spacing: 7px;
    line-height: 50px;
    margin: 15px 0;
    font-size: 105%;
}

.text-quote{
    margin: 50px 0;
    font-size: 110%;
    font-style: italic;
    text-align: center;
    border-top: 2px solid;
    padding-top: 20px;
    border-bottom: 2px solid;
    padding-bottom: 20px;
    word-spacing: 7px;
    line-height: 50px;
    margin: 15px 0;
    font-size: 105%;
}

.p-blog-conversation{
    font-style: italic;
    word-spacing: 7px;
    line-height: 50px;
    margin: 15px 0;
    font-size: 105%;
}




/*--------------------------------------*/
/* Navigation */
/*--------------------------------------*/


.nav{
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.navigation{
    display: inline-block;

}


.navigation li{
    display: inline-block;
    margin-right: 0px;
}


.landing-logo{
    display: inline-block;
    width: 35%;
    height: auto;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: crisp-edges;
}

#navigation-1{
    margin-left: 50px;
}

#navigation-1 li{
    margin-right: 50px;
}


#navigation-2{
    float: right;
    margin-right: 50px;
    padding: 10px 10px;
    background-color: #fff;
}

#navigation-2 a{
    color: #000000;
}



/* Mobile navigation */

.mobile-nav i{
    float: right;
    font-size: 180%;
    display: none;
    margin-top: 0px;
    margin-right: 20px;
    cursor: pointer;
}


/*--------------------------------------*/
/* Header */
/*--------------------------------------*/

header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(perth-city-min.jpg);
    background-image: url(library.jpg);    
    background-size: cover;
    height: 98vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}




/*--------------------------------------*/
/* Section Welcome */
/*--------------------------------------*/

.section-welcome{
    height: 100vh;
    background-color: #100f10;
    position: relative;
}

.section-welcome .row{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-welcome h1{
    margin-bottom: 50px;
}

.section-welcome h2{
    margin-bottom: 20px;
}



/*--------------------------------------*/
/* Section WHY */
/*--------------------------------------*/

.section-why{
    background-color: #100f10;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}


#welcome-box-1{
    min-width: 270px;
    height: 100%;
    overflow: hidden;
}

#welcome-box-1 img{
    height: 115vh;
    
}

#welcome-box-2{
    padding: 85px 90px;
}

#welcome-box-2 h1{
    font-size: 200%;
}

#welcome-box-2 ul{
    list-style: none;
}

#welcome-box-2 li{
    margin-left: 20px;
    line-height: 35px;
    font-style: italic;
}

#welcome-box-2 h2{
    font-size: 120%;
    line-height: 30px;
}

/*--------------------------------------*/
/* Section CONNECT */
/*--------------------------------------*/

#section-connect-text{
    text-align: center;
    margin: 100px auto;
}

#section-connect-text h1{
    color: #000;
    margin-bottom: 20px;
}

#section-connect-text h2{
    margin-bottom: 50px;
    color: #000;
}

#section-connect-text a{
    text-decoration: none;
    border: solid;
    padding: 20px 20px;
    background-color: #000;
    font-size: 100%;
}


/*--------------------------------------*/
/* Section ABOUT */
/*--------------------------------------*/

.section-title{
    padding: 50px 0px 50px 0px;
}


.section-about-header{
    background-image: none;
    background-color: #272725;
}

.section-about{
    background-color: #272725;;
}

.quotation{
    font-size: 160%;
}

#about-box-1{
    height: auto;
    margin-left: 0px;
    overflow: hidden;
}

#about-box-1 img{
    width: 90%;
    float: right;
}

#about-box-2{
    font-size: 85%;
    padding: 0px 70px 0px 70px;
}

#about-box-2 p{
    line-height: 19px;
}

/*--------------------------------------*/
/* Section LIGHTBOX */
/*--------------------------------------*/

.section-lightbox-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.05)),url(greg-torosiants-YFto4J5Upzk-unsplash.jpg);
}

.section-lightbox-step1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.2)), url(l-odyssee-belle-IMtEliM53Lc-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.section-lightbox-step2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.2)), url(christiann-koepke-CTE7O3WbAkg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.section-lightbox-step3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.2)), url(blaz-photo-zMRLZh40kms-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#lightbox-content{
    height: 100%;
    padding: 100px 100px 100px 30px;
}

#lightbox-content h2{
    margin-top:50px;
    line-height: 50px;
    font-size: 130%;
}

/*--------------------------------------*/
/* Section Reading List */
/*--------------------------------------*/

.section-reading-header{
    background-image: url(alex-block-PdDBTrkGYLo-unsplash.jpg);
    background-position: 50% 100%;
    background-size: cover;
}

#tail-end{
    margin-top: 150px;
    padding: 10px;
    font-size:100%;
    background-color: #fff;
    color:#000;
}

.section-reading{
    display: inline-flex;
    flex-direction: row;
    overflow: none;
    background-color: #272725;    
    height: 140vh;
}

.books-selection{
    display: inline-flex;
    flex-basis: 40%;
    overflow: none;

}

.books-selection-text{
    padding: 40px 40px;
}

.reading-list{
    display: inline-flex;
    background-color: #000;
    overflow:scroll;
    flex-basis: 60%;
}

.reading-list-book-container{
    display: block;
    width: 100%;
    overflow: none;
    padding: 30px 0px 30px 50px;
}

.book-img{
    display: inline-block;
    height: auto;
    width: 200px;
    overflow: auto;
}

.book-title{
    display: inline-block;
    vertical-align: top;
    margin-top: 120px;  
    margin-left: 30px;  
    overflow: none;
    font-size: 140%;
    width: 450px;
}



/*--------------------------------------*/
/* Section BLOG */
/*--------------------------------------*/

.section-blog{
    padding-top: 90px;
    max-width: 950px;
    margin: 0 auto;
    text-align: left; 
    position: relative;
}


.img-beijing,
.img-kohdambang,
.img-kratie-shore,
.img-conversation,
.img-team-banana,
.img-wheat,
.img-CLR,
.img-CLR-TTT,
.img-cambodia,
.img-falling-limbs,
.img-EWB-christmas,
.img-mt-larcom,
.img-mt-archer,
.img-monkey-mind,
.img-next-mission,
.img-cradle-mt,
.img-heros-journey,
.img-2020
{
    width:80%;
    margin-left: 10%;
}

.img-elevate{width:100%; margin-left: 0%;}

.img-lunarpark,
.img-fed-square,
.img-gladstone-flight,
.img-headspace-screenshot,
.img-five-rocks
{
    width: 40%;
    margin-left: 30%;
}

.img-HCD,
.img-GCC1,
.img-money-matters,
.img-mini-retirements,
.img-2020-journal{
    width: 60%;
    margin-left: 20%;
}

.img-citation-GCC1,
.img-citation-CLR,
.img-citation-CLR-ride,
.img-citation-CLR-TTT,
.img-citation-CLR-jules,
.img-citation-lunarpark,
.img-citation-cambodia,
.img-citation-fed-square,
.img-citation-falling-limbs,
.img-citation-EWB-christmas,
.img-citation-gladstone-flight,
.img-citation-mt-larcom,
.img-citation-mt-archer,
.img-citation-headspace-screenshot,
.img-citation-monkey-mind,
.img-citation-next-mission,
.img-citation-cradle-mt,
.img-citation-heros-journey,
.img-citation-money-matters,
.img-citation-mini-retirements,
.img-citation-2020{
    font-size: 70%;
    display: block;
    text-align: center;
    font-style: italic;
}

.img-CLR-ride,
.img-CLR-jules{
    width: 40%;
    margin-left: 30%;
}

.ToMR-stages{
    list-style: none;
    margin-left: 50px;
    word-spacing: 5px;
    line-height: 40px;
    font-size: 95%;
}

.img-citation{
    font-size: 50%;
    display: block;
    text-align: right;
    padding-right: 11%;
    margin: 0;
}

.page-rewind i{
    color: #000;
    font-size: 250%;
    display: block;
    margin-bottom: 40px;
}

.page-rewind{
    width: 50px;   
    margin-left: 46%;
}

.gratitude{
    /*transform: rotate(90deg);
	transform-origin: left top 0;*/
    position: absolute;
    bottom: 16%;
    right: 0%;
    font-size: 700%;
    opacity: 0.05;
    letter-spacing: 7px;
}

.late-bloomer{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
	-webkit-transform-origin: left top 0;
	transform-origin: left top 0;
    position: absolute;
    bottom: 16%;
    left: -13%;
    font-size: 500%;
    opacity: 0.2;
    letter-spacing: 7px;
}

.links-the-monkey-mind{
    color: #000;
    word-spacing: 0px;
    letter-spacing: 0px;
    line-height: 40px;
    margin: 15px 0;
    font-size: 100%;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
}

.list-monkey-mind{
    margin-left: 40px;
}
/*--------------------------------------*/
/* Blog landing */
/*--------------------------------------*/

.blog-GCC,
.blog-melbourne-landing,
.blog-new-year-new-year,
.blog-new-friends,
.blog-letting-go,
.blog-what-is-mine,
.blog-the-monkey-mind,
.blog-next-mission,
.blog-check-in,
.blog-money-matters,
.blog-idols,
.blog-problems{
    font-size: 80%;
    height: 100vh;
}


.blog-365-days,
.blog-heros-journey,
.blog-mini-retirements,
.blog-2020,
.blog-elevate,
.blog-the-voice,
.blog-step{
    font-size: 80%;
    height: 80vh;
}

.blog-link{
    text-decoration: none;
    color:#000;
    font-size: 100%;
}

.blog-link-365-days{color: #000; text-decoration: none; font-size: 100%; text-transform: capitalize;} /*Link to previous blog*/

.blog-GCC img,
.blog-new-year-new-year img,
.blog-new-friends img,
.blog-problems img{
    margin-top: 40%; 
}

.blog-melbourne-landing img,
.blog-heros-journey img{
    width: 60%;
    margin-top:3%;
}

.blog-what-is-mine img{
    width: 80%;
}

.blog-letting-go img,
.blog-the-monkey-mind img,
.blog-next-mission img{
    margin-top: 35%;
}

.blog-check-in{font-size: 80%; height: 80vh;}
.blog-check-in img,
.blog-365-days img,
.blog-money-matters img{
    margin-top: 25%
}

.blog-elevate img,
.blog-the-voice img,
.blog-step img{margin-top:20%}

.blog-mini-retirements img,
.blog-2020 img{
    margin-top:25%;
}   

.blog-GCC .p-blog,
.blog-melbourne .p-blog{
    width: 490px;
}

.blog-new-friends .p-blog{
    width: 517px;
}


#test{
    line-height: 100vh;
    text-align: center;
    font-size: 200%;
}
/*--------------------------------------*/
/* Blog Melbourne */
/*--------------------------------------*/
.blog-melbourne{
    color: #000;
    word-spacing: 7px;
    line-height: 50px;
    margin: 15px 0;
    font-size: 105%;
    font-style: italic;
    text-transform: none;
    text-decoration: none;   
    border-bottom: 2px solid;
}

/*--------------------------------------*/
/* Blog 365-days */
/*--------------------------------------*/

.blog-365-list, blog-elevate-list{
    line-height: 40px;
    margin: auto 20px;
    padding-left: 50px;
}

/*--------------------------------------*/
/* Footer */
/*--------------------------------------*/

.social-links{
    list-style: none;
    float: right;
    margin-top: 5px;
}

.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child{
    margin: 0;
}

.social-links li a:link,
.social-links li a:visited{
    border: 0;
    text-decoration: none;
    color: #888;
    
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 150%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-linkedin,
.ion-social-instagram{
    -webkit-transition: color 0.8s;
    transition: color 0.8s;
}
.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color: #00aced;
}

.ion-social-linkedin:hover{
    color: #0077b5;
}

.ion-social-instagram:hover{
    color: #e95950;
}

footer p{
    color: #888;
    text-align: center;
    float: center;
    margin: 0;
}

footer{
    background-color: #100f10;
    padding: 50px;
}

/* index1.html */
.blog-footer{
    padding: 30px;
}

.blog-footer li{
    margin-top: 20px;
}