/*--------------------------------------*/
/* Basic setup */
/*--------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #000000;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}


/* ---- Headings ---- */

h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 3px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    
}

h3{
    font-size: 130%;
    margin-bottom: 15px;
}

p{
    word-spacing: 5px;
    line-height: 40px;
    margin: 15px 0;
    font-size: 105%;
}