/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px){
    .row{ padding: 0 2%; }
    
    .section-reading{
        height: 180vh;
    }

    .book-title{
        width: 300px;
    }
    
}

/*Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px){
    body{ font-size: 18px;}
    .row{ padding: 0 3%; }

    .section-reading{
        height: 180vh;
    }

    .book-title{
        width: 200px;
    }
    
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px){
    body{ font-size: 15px;}
    
    .mobile-nav i{
        display: block;
        position: absolute;
        top: 35%;
        right: 1%;
    }

    .nav{
        height: 100px;
        margin-top: 0;
        padding-top: 100px;
    }
    
    .navigation{
        display: none;
        margin-top: 30px;
        font-size: 150%;
    }
    

    .navigation li{
        display: block;
    }
    
    #navigation-1 li{
        margin-bottom: 20px;
        display: block;
        text-align: right;
    }

    #navigation-2{
        background-color: transparent;
        padding: 0;
        margin-top: 0px;
    }

    #navigation-2 a{
        color: #ffffff;
        display: block;
        font-size: 120%;
    }
    

    .navigation a:link,
    .navigation a:visited{
        border: 0;
        margin-bottom: 0px;
        padding-bottom: 0px;
        -webkit-transform: none;
        transform: none;
        display: block;
    }
    

    #welcome-box-1,#welcome-box-2, #about-box-2{
        width: 100%;
        min-width: 450px;
    }

    #welcome-box-1 img{
        margin-left: 100px;
        height: 110vh;
    }

    #about-box-1{
        width: 90%;
    }
    
    #about-box-1 img{
        margin-bottom: 30px;
    }

    #about-box-2{
        font-size: 18px;
    }

    .section-lightbox-step1, .section-lightbox-step2,.section-lightbox-step3{
        height: 120vh;
    }


    

    footer {    
        padding: 20px; 
    }
    
    footer p{
        margin-top: 20px;
    }
    
    .social-links li{
        margin-top: 23px;
    }
    
    .social-links{height: 100px;}
    .ion-social-facebook{ margin-left: 50px;}

    #lightbox-content h2{
        line-height: 40px;
    }

    .book-img{
        width: 150px;
    }

    .section-reading{
        flex-direction: column;
    }

    .reading-list{
        padding-left: 25px;
    }

    .section-reading{
        height: 1000px;
    }

    .reading-list,.books-selection{
        flex-basis: auto;
    }

    .books-selection p{
        line-height: 20px;
    }

    .book-img{
        width: 150px;
    }

    .book-title{
        margin-top: 90px;
        margin-left: 50px;
        width: 200px;
    }
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px){
    body{ font-size: 14px;}
    
    .mobile-nav i{
        display: block;
        position: absolute;
        top: 35%;
        right: 1%;
    }

    #welcome-box-2{
        padding: 55px 50px;
        font-size: 20px;
    }

    #welcome-box-1 img{
        height: 95vh;
        margin-left: 70px;
    }

    #about-box-2{
        font-size: 15px;
    }

    .section-lightbox-step1, .section-lightbox-step2,.section-lightbox-step3{
        height: 130vh;
    }

    
    .books-selection-text{
        flex-basis:80%;
    }
    
    .reading-list-book-container{
        padding-left: 90px;
    }

    .book-img{
        width: 230px;
    }
    
    .book-title{
        width: 100%;
        font-size:180%;
    }

    

    /*.blog-GCC,
    .blog-melbourne-landing,
    .blog-new-year-new-year,
    .blog-new-friends,
    .blog-letting-go,
    .blog-what-is-mine,
    .blog-the-monkey-mind,
    .blog-next-mission,
    .blog-check-in,
    .blog-money-matters{
        font-size: 80%;
        height: 80vh;
    }

    .blog-365-days,
    .blog-heros-journey{
        font-size: 80%;
        height: 60vh;
    }
    
    .p-blog, 
    .text-quote{ 
        line-height: 27px;
    }
    
    .heading-content{ font-size: 100%;}
    
    .section-pagebreak-summary h1{margin-top: 18px; }
    
    .section-summary h3{ padding-top: 20px}
        
    .section-highlights a{ font-size: 120%;}

    .highlight-link-1{
        left: 8%;
        top: 35%;
    }
        
    .section-mission ul{padding: 0 4%;}
    
    .ricky-quote{margin: auto 10px;}
    
    .gratitude{ font-size:500%;}

    .social-links{height: 120px;}
    
    .blog-GCC .p-blog,
    .blog-melbourne .p-blog,
    .blog-new-friends .p-blog,
    .blog-next-mission .p-blog{
        width: 100%;
    }

    
    .blog-melbourne-landing img,
    .blog-heros-journey img{
    margin-left: 20%;
    }
    
    .img-money-matters,
    .img-mini-retirements{
        width: 100%;
        margin-left: 0%;
    }
    .img-citation-2020{
        width: 100%;
        margin-left: 0%;
        font-size:60%;
        line-height: 30px;}
*/
}